.navbar-profile-pic img{
    width: 80%;
    height: 80%;
    border-radius: 8rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0.2rem;
    border: 2px solid rgb(232, 223, 223);
    box-shadow: rgba(221, 221, 230, 0.25) 0px 50px 100px -20px, rgba(217, 208, 208, 0.3) 0px 30px 60px -30px, rgba(1, 12, 22, 0.35) 0px -2px 6px 0px inset;

}

.navbar-profile-pic{
    /* background-color: white; */
    display: flex;
}

.nav-item{
    color: white;
    margin-top: 2rem;
    /* margin-left: 1rem; */
    padding:0 1.2rem 0 1rem;
    font-weight: bold;
}

.nav-link{
    cursor: pointer;
    margin-top: 1.3rem; 
}
.nav-link:hover{
    color: #f49454;
}

.nav-link svg{
    margin-right: 0.9rem;
}

.icons:hover{
    transform: scale(1.1);
    transition: 1ms;
}

.nav-link .active{
    color: #f49454;
    border-left: 3px solid #f49454;
    padding-left: 6px;
    text-decoration: none;
}

@media screen and (max-width:635px) {
    .nav-items{
        padding: 5rem 0.1rem;
        font-size: 3rem;
    }
    .nav-item{
        font-size: 0.45rem;
    }
    .nav-link svg{
        margin-right: 0.4rem;
    }
}





